<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetoGram - Ask a Question</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-gray-50">
    <%- include('partials/sidebar') %>
    
    <main class="ml-64 mr-80 px-8 py-6">
        <h1 class="text-3xl font-bold mb-8">Create a Post</h1>
        
        <form method="post" action="/api/posts/create" id="questionForm" class="space-y-6">
            <div class="space-y-2">
                <label class="block font-medium">
                    Title <span class="text-red-500">*</span>
                </label>
                <input 
                    type="text" 
                    name="title"
                    placeholder="Tell us what specific problem you have."
                    class="w-full px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500"
                >
            </div>
            
            <div class="space-y-2">
                <label class="block font-medium">
                    Share some pawesome details!<span class="text-red-500">*</span>
                </label>
                <div class="border border-gray-200 rounded-lg overflow-hidden">
                    <div class="flex items-center gap-1 border-b border-gray-200 p-2 bg-white">
                        <button class="p-2 hover:bg-gray-100 rounded" title="Bold">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M13.5 10a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0z" />
                            </svg>
                        </button>
                        <button class="p-2 hover:bg-gray-100 rounded" title="Italic">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="p-2 hover:bg-gray-100 rounded" title="Heading">H</button>
                        <button class="p-2 hover:bg-gray-100 rounded" title="Link">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="p-2 hover:bg-gray-100 rounded" title="Image">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <button class="p-2 hover:bg-gray-100 rounded" title="Bullet List">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                    <textarea 
                        rows="8" 
                        placeholder="Introduce the problem and expand on what you put in the title. Minimum 20 characters."
                        class="w-full p-4 focus:outline-none"
                        name="body"
                    ></textarea>
                </div>
            </div>
            
            
            <button type="submit" class="px-6 py-3 bg-orange-500 text-white font-medium rounded-lg hover:bg-orange-600">
                Submit
            </button>
        </form>
    </main>
    
    <%- include('partials/hot-topics') %>
</body>
<script src="/js/question.js"></script>
</html>
